/* FONTS */
@import 'https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap';
@font-face {
    font-family: 'FFFFORWA';
    src: url('./fonts/FFFFORWA/FFFFORWA.TTF');
}
/* FONTS */

* { outline: none!important; }

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.text-white { color: #fff!important; }
.text-red { color: #CE4A42!important; }
.text-yellow { color: #FF9800!important; }

.yellow-bg { background-color: #FF9800!important; }
.light-bg { background-color: #545454!important; }
.dark-bg { background-color: #424242!important; }
.darker-bg { background-color: #303030!important; }

.white-all * { color: #fff!important; }

.pixelify, .pixelify * {
    font-family: 'Pixelify Sans', sans-serif!important;
    font-weight: 300!important;
}

.fffforwa, .fffforwa * {
    font-family: 'FFFFORWA', sans-serif!important;
    font-weight: 100!important;
}

.pixel-rendered { image-rendering: pixelated; }

.scale5 { transform: scale(5); }
.scale10 { transform: scale(10); }

.absolute { position: absolute!important; }

.centered {
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.centered-h {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.nav-menu {
    padding: 0!important;
}

.nav-menu .nav-menu-item:hover {
    background-color: rgba(0, 0, 0, .15)!important;
    border-radius: 4px;
}

.hoverable:hover {
    background-color: rgba(0, 0, 0, .15)!important;
    border-radius: 4px!important;
}

.hoverable-circle:hover {
    background-color: rgba(255, 255, 255, .15)!important;
    border-radius: 50%!important;
}

.hoverable-square:hover {
    background-color: rgba(0, 0, 0, .15)!important;
}

.icon-hoverable:hover {
    background-color: rgba(0, 0, 0, .1)!important;
    border-radius: 50%!important;
}

.floating:hover {
    animation: ease-in-out 1.5s float infinite;
}

@keyframes item {
    0% { transform: scale3d(1.1, 1.15, 1.05) translate(-50%, -50%); }
    50%  { transform: scale3d(1.1, 1.15, 1.05) translate(-50%, calc(-50% - 15px)); }
    100%   { transform: scale3d(1.1, 1.15, 1.05) translate(-50%, -50%); }
}

.scale-up {
    transition: ease .5s!important;
}

.scale-up:hover {
    transition: ease .5s!important; /* For scaling */
    animation: ease-in-out 1.5s item infinite;
    cursor: pointer;
    position: relative;
    top: 50%; left: 50%;
}

.scale-down {
    transform: scale3d(0.9, 0.85, 0.95) translate(-50%, -50%);
}

.scalable {
    transition: ease .2s;
}
.scalable:hover {
    transform: scale(2.5);
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.06), 0 8px 10px 1px rgba(0,0,0,.042), 0 3px 14px 2px rgba(0,0,0,.036)!important;
    cursor: pointer;
    border:none!important;
}

.c-menu-item .mud-list-item-text p {
    display: flex;
    align-items: center
}

.transparent { opacity: 0; background: transparent!important; }
.blink {
    animation: blinker linear 2s infinite;
}

@keyframes blinker {
    0% {
        opacity: 1;
    }
    
    50% {
        opacity: 0.1;
    }
}

.blink-gray {
    animation: blinker-gray linear 2.5s infinite;
}

@keyframes blinker-gray {
    0% {
        opacity: 1;
        color: #fff!important;
    }

    50% {
        opacity: 0;
        color: #424242!important;
    }
}


.light-input * {
    color: white!important;
}

table {
    border: thin solid white!important;
}

.fullscreen-close-btn {
    z-index: 1399!important;
    position: absolute!important;
    right: 25px; top: 25px;
}
.fullscreen-close-btn * {
    z-index: 1399!important;
}

.hover-pointer .mud-badge {
    cursor: pointer;
}

.tabpanel-bg {
    backdrop-filter: blur(4px) brightness(.35)!important;
    background: transparent!important;
}

.tabpanel-tab {
    text-transform: none!important;
}

.collection-item { transition: ease-in-out .3s; }
.collection-item:hover {
    background: rgba(255, 255, 255, .1);
}

.collection-item:hover > * img {
    transition: ease-in-out .3s;
    animation: blinker linear 1.5s infinite;
}

.white-tab, .white-tab *, .white-tab .mud-tab-slider {
    color: white!important;
    background-color: transparent!important;
    border-color: white!important;
}

.datagrid-border * {
    border-color: #424242!important;
}

.mud-breadcrumb-item * {
    color: #fff!important;
}

.mud-breadcrumb-separator * {
    color: #e4e4e4!important;
}

.mud-disabled * {
    color: #c4c4c4!important;
}

.pika-wp {
    height: 100%!important;
    width: 100%!important;
    object-fit: cover!important;
    position: absolute;
    transition: transform .5s ease;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.pokehama-hub-bg {
    background-image: url("../_content/pictures/pokehama-hub.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.mammouth-bg {
    background-image: url("../_content/pictures/mammouth-bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.profile-pika-bg {
    background-image: url("../_content/pictures/profile-pika.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}