.easter-ball {
    transition: ease .8s;
    animation: rotation .2s linear infinite;
    color: #fffeee!important;
}

.ball {
    transition: ease .8s;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}