<MudMenu Class="text-white icon-hoverable" PopoverClass="transparent" ListClass="darker-bg rounded-lg" Icon="@Icons.AccountCircle" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
    <MudStack Class="pt-1" Row="false" Spacing="0">
        <div class="d-flex mx-4" style="align-items: center;">
            <MudAvatar Class="mr-2" Variant="Variant.Filled" Color="Color.Dark">P</MudAvatar>
            <div>
                <MudText Class="text-white">Patrick Gérard</MudText>
                <MudLink Style="text-decoration-color: #fff;" Href="/">
                    <MudText Class="text-white" Typo="Typo.caption" Style="font-size: 14px;">@@patrick</MudText>
                </MudLink>
            </div>
        </div>
        <MudDivider Class="my-2 mt-3" DividerType="DividerType.FullWidth" Style="border-color: #424242!important;"/>
        <MudMenuItem Class="my-0 text-white c-menu-item"><MudIcon Class="text-white mr-3" Icon="@Icons.Share" /> Partager</MudMenuItem>
        <MudMenuItem Class="my-0 text-white c-menu-item"><MudIcon Class="text-white mr-3" Icon="@Icons.Logout" /> Se déconnecter</MudMenuItem>
    </MudStack>
</MudMenu>

@code {
    
}