<div style="width: 100%; height: 100%; position: relative!important;">
    <MudLink Href="@($"/overview/{Url.Substring(Url.Length - 5).Replace(".png", string.Empty)}")">
        <MudImage Class="pixel-rendered hoverable centered" Src="@Url" Style="width: 320px; height: auto;"/>
    </MudLink>
</div>

@code {
    [Parameter]
    public string Url { get; set; } = null!;
}