@page "/"

<PageTitle>PokéHama</PageTitle>

<section class="dark-bg absolute" style="min-height: 100vh; width: 100%;">
    <MudContainer Class="pt-3">
        <MudText Class="text-white pixelify" Typo="Typo.h1" Align="Align.Center" GutterBottom>PokéHama</MudText>
        <MudText Class="text-white pixelify" Typo="Typo.h4" Align="Align.Center" GutterBottom>Choose your pokemon !</MudText>
        <MudStack Justify="Justify.Center">
            <MudDivider Class="my-16 mx-auto" Light="false" Style="max-width: 700px;"/>
        </MudStack>
        
        <MudGrid Justify="Justify.Center">
            @foreach (var pokemon in _pokemons)
            {
                <MudItem xs="12" sm="4" md="4" lg="4" xl="3">
                    <Mosaic Url="@pokemon" />
                </MudItem>
            }
        </MudGrid>
        <MudStack Row Style="height: 500px;">
            
        </MudStack>
    </MudContainer>
</section>
